# Virtual environment
venv/
ENV/
env/
.venv/
.myenv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
*.env

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Logs
*.log

# Database files
*.sqlite3
*.db

# PyCharm
.idea/

# Build folders
build/
dist/
*.egg-info/
.eggs/